
.item-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* text-overflow: ellipsis; white-space: nowrap; */
  }

.cart .filters .searching {
    display: none;
}