
.item-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* text-overflow: ellipsis; white-space: nowrap; */
  }

.cart .filters .searching {
    display: none;
}

.cart .list .product .unavailable {
  display: none;
}

.catalog .list .addProduct.disabled {
  opacity: 0.25;
}

.catalog .list .product.hidden {
  display: none;
}